@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Библиотека "Разум"</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Добро пожаловать в университет Контосо</h2>
        <p>
            Университет Контосо - это образец приложения,
            демонстрирующий, как использовать Entity Framework Core в
            веб-приложении ASP.NET Core MVC.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Построить с нуля</h2>
        <p>Вы можете создать приложение, выполнив шаги из серии руководств.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">Посмотреть руководство &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Скачать</h2>
        <p>Вы можете скачать готовый проект с GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-mvc/intro/samples/5cu-final">Посмотреть исходный код проекта &raquo;</a></p>
    </div>
</div>